/********** Estilos fluidos **********/

:root {
  --step--2: clamp(0.91rem, calc(0.89rem + 0.09vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.06rem + 0.19vw), 1.20rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.34vw), 1.50rem);
  --step-1: clamp(1.58rem, calc(1.47rem + 0.55vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.73rem + 0.83vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.03rem + 1.20vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.38rem + 1.71vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.79rem + 2.39vw), 4.58rem);
}

/********** Variables **********/

:root {
  --color-principal: #895B00;
  --color-secundario: #ff4e50;
  --color-terciario: #FFFEF1;
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.7);
  --white-color: #fff;
  --font: "Poppins", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/********** Reseteo **********/

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /*Quitando la barra horizontal*/
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: var(--step-2)
}

h2 {
  margin: 0;
  font-size: var(--step-1);
}

h3 {
  margin: 0;
  font-size: var(--step-0);
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.70rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  font-size: var(--step--1);
  line-height: 1.6;
}


/********** COMPONENTES **********/

/***HERO IMAGE***/
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
}

.hero-image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  color: var(--white-color);
  text-align: center;
}

.hero-image-content a {
  align-self: center;
  padding: 0.5rem;
  border-radius: 0.50rem;
  color: var(--white-color);
  font-weight: bold;
  background-color: var(--color-secundario);
  transition: transform 0.2s;
}

.hero-image-content a:hover {
  transform: scale(1.1);
}

/***MENU**/
.menu-btn {
  outline: thin solid var(--white-color);
  border: 0;
  border-radius: 0.50rem;
  cursor: pointer;
  background-color: var(--white-color);
}

.menu-btn svg {
  fill: var(--color-principal);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu-active {
  opacity: 1;
  pointer-events: auto;
}

.menu-ul li {
  padding: 1rem;
  color: var(--color-principal);
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  transition: transform 0.2s;
}

.menu-ul li:hover {
  transform: scale(1.1);
}

.menu-ul a {
  color: var(--color-principal);
  font-weight: bold;
}


@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    width: auto;
  }

  .menu-ul {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .menu-ul li {
    gap: 0.2rem;
    padding: 0 1rem;
  }

  .menu-ul span {
    font-size: 1.5rem;
  }
}

/***MODALES JS***/

/******Modal General******/
.modal-general {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
}

.modal-general-content {
  display: flex;
  flex-direction: column;
  border-radius: 0.50rem;
  background-color: var(--white-color);
}

.modal-general-content span {
  align-self: flex-end;
  font-size: 1.5rem;
  color: var(--white-color);
  border-radius: 0.50rem;
  background-color: var(--color-secundario);
  cursor: pointer;
  transition: transform 0.2s;
}

.modal-general-content span:hover {
  transform: scale(1.1);
}

/******Sesion question style******/
.sesion-question {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button2 {
  cursor: pointer;
  font-size: 1rem;
  color: var(--color-secundario);
  background-color: var(--white-color);
}

.button2:hover {
  transform: none;
  text-decoration: underline;
}


/******Modal mostrar carrito******/
.shop-product-modal {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.products-container {
  display: flex;
  flex-direction: column;
}

.products-cards {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container-buttons-shop {
  padding: 1rem;
  border-radius: 0.50rem;
  background-color: var(--white-color);
}

/******Modal mensaje de comentario enviado - styles******/
.send-coment-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--color-principal);
}

.send-coment-modal span {
  font-weight: bold;
  color: var(--color-principal);
  background-color: var(--white-color);
}

/***CARDS***/
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 320px;
  height: 400px;
  border-radius: 0.50rem;
  color: var(--color-principal);
}

.cards img {
  object-fit: cover;
  width: 100%;
  height: 60%;
  padding-bottom: 1rem;
  border-radius: 0.50rem;
}

button {
  align-self: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.50rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  color: var(--white-color);
  font-weight: bold;
  background-color: var(--color-secundario);
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

.cards-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
  height: 280px;
  border-radius: 0.50rem;
  color: var(--color-principal);
}

.cards-2 h3 {
  padding-bottom: 1rem;
}

.cards-2 img {
  object-fit: cover;
  height: 80%;
}

/***Contact Cards***/
.small-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 300px;
  margin: 2rem 0;
  padding: 1rem;
  color: var(--color-principal);
}

.small-card span {
  font-size: 2rem;
}

.small-card-media span {
  font-size: 1.5rem;
}

.contact-form {
  padding: 1rem;
  max-width: 800px;
  border-radius: 0.50rem;
}

.contact-form>* {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.contact-form input {
  font-size: var(--font);
  border: none;
  border-bottom: 1px solid var(--color-principal);
}

.contact-form textarea {
  border-radius: 0.50rem;
  border: 1px solid var(--color-principal);
  resize: none;
}

.contact-form button {
  padding: 0.5rem;
  width: 50%;
}

/**********UTILIDADES**********/
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

.margins {
  margin: 3rem 1rem;
}

.paddings {
  padding: 2rem 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-black {
  color: var(--black-color);
}

.text-principal {
  color: var(--color-principal);
}

.bg-color-white {
  background-color: var(--white-color);
}

.bg-color-tr {
  background-color: var(--color-terciario);
}

.bg-color-sc {
  background-color: var(--color-secundario);
}

.border-radius {
  border-radius: 0.50rem;
}


/**********ESTILOS PROPIOS DEL SITIO**********/
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  border-top: 1px solid var(--color-principal);
  background-color: var(--white-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logo {
  margin-bottom: 1rem;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.1);
}

.logo a {
  color: var(--color-principal);
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span {
  color: var(--color-principal);
  font-size: 1.5rem;
}

.sesion-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  color: var(--color-principal);
  font-weight: bold;
}

.sesion-shop span {
  font-size: 2rem;
  color: var(--color-principal);
}

.sesion-shop {
  cursor: pointer;
  transition: transform 0.2s;
}

.sesion-shop:hover {
  transform: scale(1.1);
}

.about-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  color: var(--color-principal);
}

.about-title img {
  width: 350px;
}

.about-stores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.welcome-sesion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
}

.welcome-sesion h2 {
  color: var(--color-principal);
}

.welcome-sesion img {
  width: 400px;
}

.build-form {
  margin: 1rem;
}

.type-pay {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.credit-card-pay {
  padding: 0;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.products-title {
  padding-top: 2rem;
  color: var(--color-principal);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-title {
  color: var(--color-principal);
}

i {
  color: var(--color-principal);
  font-weight: bold;
}

hr {
  width: 70%;
}

.footer {
  margin-bottom: var(--header-height);
  padding: 1rem;
  color: var(--white-color);
  font-weight: bold;
  background-color: var(--color-secundario);
}

.jam-close,
.jam-arrow-right {
  margin: 1rem;
}


@media screen and (min-width: 1024px) {
  .header {
    position: sticky;
    justify-content: center;
    align-items: center;
    top: 0;
    border-top: none;
    border-bottom: 1px solid var(--color-principal);
  }

  .logo {
    display: none;
  }

  .container {
    justify-content: center;
  }

  .container-width {
    width: 70%;
  }

  .about-title {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-stores {
    flex-direction: row;
  }

  .cards-container {
    max-width: 1200px;
    flex-flow: row wrap;
  }

  .small-cards-container {
    flex-direction: row;
  }

  .footer {
    margin: 0;
  }

}